[duo]
; Duo integration key
ikey = {{duo_ssh_ikey}}
; Duo secret key
skey = {{duo_ssh_skey}}
; Duo API host
host = {{duo_ssh_host}}
; Send command for Duo Push authentication
pushinfo = yes
autopush = yes